# Ignore files handled by Biome
*.js
*.jsx
*.ts
*.tsx
*.json
*.jsonc

# Ignore files handled by rightdown
*.md

# Standard ignores
/dist
/build
/.next
/coverage
/node_modules
.pnp.cjs
.pnp.loader.mjs 